.container-box1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 10px;

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    filter: blur(1px);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 30px;
    font-family: sans-serif;

}

.image-container:hover img {
    transform: scale(1.1);
    filter: blur(0px);
}

.image-container:hover .text-overlay {
    opacity: 1;
}


/* category */

.content-All {
    margin: 30px 0;
}

.container-category {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border: #eee 1px solid;
}

.category {
    display: flex;
    padding: 20px;
    position: relative;
    font-family: sans-serif;
    /* border-right: #ccc 1px solid; */
}

/* .category::before {
    content: "";
    width: 2px;
    height: 100vh;
    position: absolute;
    top: 0;

    bottom: 0;
    right: 0;
    background-color: #ccc;
} */

.icon-category {
    margin-top: 10px;
    font-size: 17px;
    color: #e94560;
}

.content-category {
    text-align: center;
    margin: 0 15px;

}

.content-category h4 {
    margin: 5px 15px;
    color: #191C1F;
    font-size: 17px;

}

.content-category p {
    font-size: 14px;
    color: #5F6C72;
}

@media (max-width:992px) {
    .container-box1 {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .container-category {
        display: flex;
        flex-direction: column;
        margin: auto
    }
}