.Newletter-container {
    background-color: #1B6392;
    padding: 70px 0;
}

.Newletter {
    width: 600PX;
    margin: auto;
    text-align: center;
}

.Newletter h2 {
    font-size: 25px;
    color: #ffff;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.Newletter span {
    font-size: 15px;
    color: #ccc;
    margin: 10px 0;
}

.News-contect {
    margin: 20px;
    gap: 10px;
    display: flex;
}

.News-contect input {
    padding: 8px 16px;
    width: 400px;
}

.News-contect button {
    padding: 15px 16px;
    background-color: #e94560;
    color: #ffff;
    outline: none;
    border: none;
    cursor: pointer;
}